/node_modules
/public/hot
/public/storage
/public/img/product
/public/img/filereport
/public/img/filedamage
/public/img/ads
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
docker-compose.yml